<div class="chat-message-main-container" #chatContainer>
    <ng-container *ngIf="user; else noUserTemplate">
        <ng-container *ngIf="(messages$ | async) as messages">
            <div #messageScroller *ngIf="messages.length" class="messages-container" appResize
                [relativeElement]="messageInput">
                <div *ngFor="let message of messages" class="single-message"
                    [ngClass]="[message.fromId === user._id ? 'align-left' : 'align-right']">
                    {{message.text}}
                </div>
            </div>
            <div *ngIf="!messages.length" appResize [relativeElement]="messageInput">
                No conversations yet.
            </div>
        </ng-container>

        <div #messageInput class="message-text-input">
            <input type="text" pInputText [formControl]="chatText" (keydown)="keyDownHandler($event)">
            <button class="pi pi-send" style="border: none; background: none; cursor: pointer;" [disabled]="!chatText.value" (click)="sendClickHandler()"></button>
        </div>
    </ng-container>
</div>

<ngx-loading [show]="(chatUIService.chatLoading$ | async)" [template]="chatContainerTemplate"
    [config]="{ backdropBorderRadius: '3px', animationType: ngxLoadingAnimationTypes.wanderingCubes }"></ngx-loading>

<ng-template #noUserTemplate>
    <div>
        Choose a contact to start conversation
    </div>
</ng-template>