.chat-container {
    .new-contact-btn-container {
        display: flex;
        padding-top: 1rem;
        padding-bottom: 1rem;

        p-button {
            margin: auto;
        }
    }

    .chat-main-container {
        display: flex;
        border-top: #3498db solid 1px;

        .chat-contacts-container {
            width: 25%;
            display: flex;
            flex-direction: column;
            overflow-y: auto;
            border-right: black solid 1px;

            .chat-contact-item {
                min-height: 15%;

                .chat-contact-item-main-container {
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    padding-left: 1rem;

                    border-bottom: #3498db solid 1px;

                    &.active {
                        font-weight: bold;
                    }

                    .chat-contact-initials {
                        border: #3498db solid 1px;
                        border-radius: 50%;
                        font-weight: bold;
                        height: 60px;
                        display: flex;
                        width: 60px;
                        margin-right: 2.5rem;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            // .p-tabview {

            //     &.p-component {
            //         height: 100%;
            //     }

            //     .p-tabview-panels {
            //         height: calc(100% - 57.2px);
            //         .p-tabview-panel{
            //             height: 100%;
            //         }
            //     }
            // }
        }

        .chat-message-container {
            width: 75%;
        }
    }
}