<div class="chat-container height100">
    <p-confirmDialog></p-confirmDialog>
    <div #postButton class="new-contact-btn-container">
        <p-button (onClick)="addContact()" label="New Contact" severity="success"></p-button>
    </div>
    <div class="chat-main-container" appResize [relativeElement]="postButton">
        <div class="chat-contacts-container">

            <div class="chat-contact-item" *ngFor="let user of users$ | async">
                <app-contact-list-item [user]="user"></app-contact-list-item>
            </div>
        </div>
        <div class="chat-message-container">
            <app-chat-message [user]="chatUIService.currentUser()"></app-chat-message>
        </div>
    </div>
    <ngx-loading [show]="loading"
        [config]="{ backdropBorderRadius: '3px', animationType: ngxLoadingAnimationTypes.wanderingCubes }"></ngx-loading>
</div>